<main>
  <h1 class="title">Add a new Password</h1>
  <p style="text-align: center"> Password Identifier is what you will use to search/refer it </p>

  <form [formGroup]="this.passwordForm" style="display: flex; flex-direction: column; gap: 1rem;" (ngSubmit)="this.submit()">
    <mat-form-field appearance="outline">
      <mat-label>Password Identifier</mat-label>
      <input matInput formControlName="passwordIdentifier" required placeholder="eg: Facebook Account" type="text" />
      <mat-error>
        @if (this.passwordForm.get('identifier')?.hasError('required')) { Required }
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password </mat-label>
      <input matInput formControlName="password" required type="{{this.passwordVisible ? 'text' : 'password'}}" />
      <mat-error>
        @if (this.passwordForm.get('identifier')?.hasError('required')) { Required }
      </mat-error>
      <button type="button" mat-icon-button (click)="this.toggleVisibility()" matSuffix>
        <mat-icon>{{this.passwordVisible ? 'visibility': 'visibility_off' }}</mat-icon>
      </button>
    </mat-form-field>

    <button type="button" mat-flat-button (click)="this.submit()"> Add Password </button>

  </form>
</main>
