main {
  display:flex;
  align-items: center;
  flex-direction: column;

  form {
    margin: 2.5rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    mat-form-field {
      width: 100%;
    }
  }
}
