#vault {
  user-select: none;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 700px;
  margin: auto;

  .bottom-buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
  }

  .no-data {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    mat-icon {
      font-size: 8rem;
      height: 8rem;
      width: 8rem;
    }
  }

  .password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;


    .pid-sec {
      font-weight: bold;
    }

    .password-sec {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: monospace;
      gap: 1rem;
    }

  }
}
