<mat-toolbar>
  <button mat-icon-button class="show-on-small-screen" aria-label="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="primary-text">{{this.TITLE}}</span>
  <span class="spacer"></span>
  <span class="secondary-text hide-on-small-screen">By <span style="font-weight: 700;">Vipul Kumar Gupta</span></span>
  <div class=" button-wrapper hide-on-small-screen">
    <button mat-stroked-button aria-label="github button">
      Github
    </button>
    <button mat-stroked-button aria-label="contact button">
      Contact
    </button>
  </div>
</mat-toolbar>
