mat-toolbar {
  display: flex;
  gap: 1rem;
}

.primary-text {
  font-weight: 500;
  font-size: x-large;
}

.secondary-text {
  font-size: medium;
}

.show-on-small-screen {
  display: none;
}

.button-wrapper {display: flex; gap: .5rem;}

@media (max-width: 600px) {
  .hide-on-small-screen {
    display: none;
  }

  .show-on-small-screen {
    display: block;
  }
}
