<main>
  @if(ui.snackBarMessage) {
  }
  @if(ui.loading) {
  <div class="spinnerContainer">
    <mat-spinner diameter="50" />
  </div>
  }
    <main id="mainContent" style="height:100vh">
      <mat-toolbar>
        <span style="display: flex; align-items: center" class="primary-text">
          <mat-icon style="margin: .5rem">lock</mat-icon> {{this.title}}
        </span>
        <span class="spacer"></span>
        <div matTooltip="Logout from current session" class="button-wrapper hide-on-small-screen">
          <a routerLink="logout" *ngIf="this.authService.authenticated$ | async" mat-flat-button aria-label="logout button">
            <mat-icon>logout</mat-icon> Logout
          </a>
        </div>
      </mat-toolbar>
      <router-outlet />
    </main>
</main>
