<main class="main-content">
  <div>
    <h1 class="hero-title"> <span>Save <span style="font-family: monospace">Passwords</span>,</span> Securely </h1>
    <p class="hero-subtitle">
      Welcome to <strong>Imp.Pass</strong>, the ultimate solution for managing your digital credentials with unparalleled security.
    </p>
    <ul>
      <li> Protecting your passwords with <strong>AES-256 Encryption</strong>. </li>
      <li>Access from <strong>anywhere</strong> in the world.</li>
    </ul>
  </div>
  <div class="buttons">
    <a mat-flat-button routerLink="login">Login</a>
    <a mat-flat-button routerLink="signup">Sign Up</a>
  </div>
</main>
