<h2 mat-dialog-title><strong>New Password</strong></h2>

<mat-dialog-content class="content">
  <form [formGroup]="this.form">
    <!-- 'pID' field -->
    <mat-form-field appearance="outline">
      <mat-label>Password Identifier</mat-label>
      <input type="text" name="pID" formControlName="pID" matInput>
    </mat-form-field>
    <!-- 'password' field -->
    <mat-form-field id="password" appearance="outline">
      <mat-label>Password</mat-label>
      <input [type]="this.passwordVisibility ? 'text' : 'password'" name="password" formControlName="password" matInput>
      <button mat-icon-button type="button" matSuffix (click)="this.passwordVisibility = !this.passwordVisibility">
        <mat-icon>{{this.passwordVisibility ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" mat-button (click)="dialogRef.close()">Cancel</button>
  <button type="button" mat-flat-button color="primary" (click)="onSubmit()">Add</button>
</mat-dialog-actions>
