<mat-dialog-container>

  <h2 mat-dialog-title>New Password</h2>

  <mat-dialog-content>
    <form (formGroup)="this.form">

      <!-- 'pID' field -->
      <mat-form-field appearance="outline">
        <label for="pID">Password Identifier</label>
        <input type="text"
          name="pID"
          formControlName="pID"
          matInput>
      </mat-form-field>

      <!-- 'password' field -->
      <mat-form-field appearance="outline">
        <label for="password">Password</label>
        <input (type)="this.passwordVisibility ? 'text' : 'password'"
          name="password"
          formControlName="password"
          matInput>
      </mat-form-field>

      <input type="button"
        name="Submit"
        value="Add">

    </form>
  </mat-dialog-content>

</mat-dialog-container>
